<div class="right-section">
  <div class="padding_wrap">
    <form class="single_search p_relative">
      <input type="text" placeholder="Search..." />
      <span class="search_icon p_absolute">
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="#657786" class="bi bi-search" viewBox="0 0 16 16"><path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/></svg>
      </span>
    </form>
  </div>
  <div class="feed-wrapper">
    <div class="feed-trending-card mt-0">
      <h3 class="feed-card-header">Trending</h3>
      <% topTags.forEach(function(tags, index) { %>
        <a href="/hashtag/<%- tags.tag %>">
          <div class="feed-card-trend">
            <div><%= index + 1 %>· Trending</div>
            <div>#<%- tags.tag %></div>
              <div><%- tags.total %> Posts
              </div>
            </div>
        </a>
      <% }) %>
      <a href="/explore" id="sidebar_trends">
        <div class="feed-more" id="more_trends">Show more</div>
      </a>
  </div>
  <% if(locals.userId) {%>
  <div class="feed-trending-card">
    <h3 class="feed-card-header">Who to follow</h3>
    <% locals.profilesToFollow.forEach(function(profile, index) { 
    const userHandle=(profile?.handle)?.replace('.lens', "" ); 
    const userImg=profile.picture?.original?.url; %>
    <div class="feed-card-trend">
      <div class="sugg-result-wapper">
        <a class="search-userPic-wrapper" href="/profile/<%-userHandle%>">
          <% if(userImg){ %>
          <img alt="" width="100%" height="49px" src="<%- userImg.replace('ipfs://', IPFS_GATEWAY); %>"
              class="home_pro_pic" />
          <%}else{%>
          <img alt="" width="100%" height="49px" src="https://i.postimg.cc/MZdNmMMN/user.png" class="home_pro_pic" />
          <%}%>
        </a>
        <div class="search-user-details">
          <div class="search-user-warp">
            <div class="search-user-info">
              <a href="/profile/<%-userHandle%>">
                <div class="search-user-name"><%-profile?.name %></div>
                <div class="search-user-username">@<%-userHandle%></div>
              </a>
            </div>
            <div class="follow-btn-wrap">
              <span style="line-height: 0.8"><span>Follow</span></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%})%>
    <div class="feed-more"></div>
  </div>
  <%}else{}%>
  </div>
</div>
