<% notices.forEach(function (notice) { 
    //console.log(notice)
    const nType = notice?.__typename;
    let atext;
    switch (nType) {
        case "NewReactionNotification":
            atext = "liked your <a href='/status/"+notice.publication?.id+"'><b>"+notice.publication?.__typename+"</b></a>";
            bIcon = '<svg viewBox="0 0 24 24" aria-hidden="true" fill="#f91880"><g><path d="M20.884 13.19c-1.351 2.48-4.001 5.12-8.379 7.67l-.503.3-.504-.3c-4.379-2.55-7.029-5.19-8.382-7.67-1.36-2.5-1.41-4.86-.514-6.67.887-1.79 2.647-2.91 4.601-3.01 1.651-.09 3.368.56 4.798 2.01 1.429-1.45 3.146-2.1 4.796-2.01 1.954.1 3.714 1.22 4.601 3.01.896 1.81.846 4.17-.514 6.67z"></path></g></svg>'
            userHandle=(notice?.profile?.handle)?.replace('.lens', "" ); 
            userImg=notice?.profile?.picture?.original?.url;
            content= notice?.publication?.metadata?.content;
            break;
        case "NewFollowerNotification":
            atext = "followed you"
            bIcon = '<svg viewBox="0 0 24 24" aria-hidden="true" fill="rgb(29, 155, 240)"><g><path d="M17.863 13.44c1.477 1.58 2.366 3.8 2.632 6.46l.11 1.1H3.395l.11-1.1c.266-2.66 1.155-4.88 2.632-6.46C7.627 11.85 9.648 11 12 11s4.373.85 5.863 2.44zM12 2C9.791 2 8 3.79 8 6s1.791 4 4 4 4-1.79 4-4-1.791-4-4-4z"></path></g></svg>'
            userHandle=(notice?.wallet?.defaultProfile?.handle)?.replace('.lens', "" ); 
            userImg=notice?.wallet?.defaultProfile?.picture?.original?.url;
            content =""
            break;
        case "NewMirrorNotification":
            atext = "mirrored your <a href='/status/"+notice.publication?.id+"'><b>"+notice.publication?.__typename+"</b></a>";
            bIcon = '<svg viewBox="0 0 24 24" aria-hidden="true" fill="rgb(0, 186, 124)"><g><path d="M4.75 3.79l4.603 4.3-1.706 1.82L6 8.38v7.37c0 .97.784 1.75 1.75 1.75H13V20H7.75c-2.347 0-4.25-1.9-4.25-4.25V8.38L1.853 9.91.147 8.09l4.603-4.3zm11.5 2.71H11V4h5.25c2.347 0 4.25 1.9 4.25 4.25v7.37l1.647-1.53 1.706 1.82-4.603 4.3-4.603-4.3 1.706-1.82L18 15.62V8.25c0-.97-.784-1.75-1.75-1.75z"></path></g></svg>'
            userHandle=(notice?.profile?.handle)?.replace('.lens', "" ); 
            userImg=notice?.profile?.picture?.original?.url;
            content= notice?.publication?.metadata?.content;
            break;
        case "NewCollectNotification":
            atext = "collected your <a href='/status/"+notice.collectedPublication?.id+"'><b>"+notice.collectedPublication?.__typename+"</b></a>";
            bIcon = '<svg viewBox="0 0 24 24" aria-hidden="true" fill="rgb(121, 75, 196)"><path d="M7 3a1 1 0 000 2h6a1 1 0 100-2H7zM4 7a1 1 0 011-1h10a1 1 0 110 2H5a1 1 0 01-1-1zM2 11a2 2 0 012-2h12a2 2 0 012 2v4a2 2 0 01-2 2H4a2 2 0 01-2-2v-4z"></path></svg>'
            userHandle=truncateETH(notice?.wallet?.address); 
            userImg=notice?.wallet?.picture?.original?.url;
            content= notice?.collectedPublication?.metadata?.content;
            break;
        case "NewCommentNotification":
            atext = "commented on your <a href='/status/"+notice.comment?.id+"'><b>"+notice.comment?.__typename+"</b></a>";
            bIcon = '<svg viewBox="0 0 24 24" aria-hidden="true" fill="rgb(139 92 246)"><g><path id="comments-Filled-2" data-name="comments-Filled" class="cls-1" d="M21.5,11V21a.489.489,0,0,1-.31.46.433.433,0,0,1-.19.04.508.508,0,0,1-.36-.15L18.83,19.5H10A3.5,3.5,0,0,1,6.5,16H14a5,5,0,0,0,5-5V7.65A3.507,3.507,0,0,1,21.5,11Zm-4,0V6A3.5,3.5,0,0,0,14,2.5H6A3.5,3.5,0,0,0,2.5,6V16a.489.489,0,0,0,.31.46A.433.433,0,0,0,3,16.5a.508.508,0,0,0,.36-.15L5.17,14.5H14A3.5,3.5,0,0,0,17.5,11Z"/></g></svg>'
            userHandle=(notice?.profile?.handle)?.replace('.lens', "" ); 
            userImg=notice?.profile?.picture?.original?.url;
            content= notice?.comment?.metadata?.content;
            break;
        case "NewMentionNotification":
            atext = "mentioned you in <a href='/status/"+notice.mentionPublication?.id+"'><b>"+notice.mentionPublication?.__typename+"</b></a>";
            bIcon = '<svg viewBox="0 0 24 24" aria-hidden="true" fill="rgb(121, 75, 196)"><path d="M7 3a1 1 0 000 2h6a1 1 0 100-2H7zM4 7a1 1 0 011-1h10a1 1 0 110 2H5a1 1 0 01-1-1zM2 11a2 2 0 012-2h12a2 2 0 012 2v4a2 2 0 01-2 2H4a2 2 0 01-2-2v-4z"></path></svg>'
            userHandle=(notice?.mentionPublication?.profile?.handle)?.replace('.lens', "" ); 
            userImg=notice?.mentionPublication?.profile?.picture?.original?.url;
            content= notice?.mentionPublication?.metadata?.content;
            break;
        default:
            break;
    }
    //const userHandle=(notice?.profile?.handle)?.replace('.lens', "" ); 
    //const userImg=notice?.profile?.picture?.original?.url;
    //const contentMedia=notice?.metadata?.media; 
    //const content= notice?.publication?.metadata?.content;
    const linkyfyOptions={ 
        truncate: 26, className: 'blink' , nl2br: true, 
        formatHref: { 
        hashtag: (val)=> `/hashtag/${val.substr(1)}`, 
        mention: (val) => `/profile/${val.substr(1)}`
        }
    };
%>
<div class="inner-card-wrapper">
    <div class="card-userPic-wrapper" style="width:32px;height:32px">
        <%- bIcon %>
    </div>
    <div class="card-content-wrapper">
        <div class="card-userPic-wrapper">
        <a href="/profile/<%- userHandle %>">
            <% if(userImg){ %>
            <img alt="" width="32px" height="32px" src="<%- userImg.replace('ipfs://', IPFS_GATEWAY); %>"
                class="home_pro_pic" style="min-width: 32px;" />
            <%}else{%>
            <img alt="" width="32px" height="32px" src="https://i.postimg.cc/MZdNmMMN/user.png" class="home_pro_pic" style="min-width: 32px;" />
            <%}%>
        </a>
        </div>
        <div class="card-content-header">
            <div class="card-header-detail">
                <span class="card-header-username">
                    <a href="/profile/<%-userHandle%>">
                        <b><%- userHandle %></b>
                    </a> 
                    <%- atext %>
                </span>
                <span class="card-header-dot">·</span>
                <span class="card-header-date"><%- moment.utc(notice?.createdAt).fromNow() %></span>
            </div>
        </div>
        <div class="post-content" style="padding:0px">
            <% if(content){%><p><%- linkifyHtml(content, linkyfyOptions) %></p><% } else {%><p><%- content %></p><% } %>
        </div>
    </div>
  </div>
<% }) %>
